#chat-window {
  display: flex;
  flex-direction: column;
  min-height: 100hv;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

#chat-window #messages {
  background: linear-gradient(to bottom, #b0c4de, #87ceeb);

  color: #fff;
  overflow: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  padding-bottom: 15px;

  position: relative;
  top: 0;
  left: 0;

  padding-top: 75px;
}
