#top-bar-chat {
  background: #fff;
  height: 64px;
  padding: 0 15px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(105, 89, 205, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(105, 89, 205, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(105, 89, 205, 0.3);

  // @media (max-width: 1024px) {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  // }

  .top-bar-chat-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .box-name-image {
      display: flex;
      gap: 0 15px;

      .back-button-chat {
        border: none;
        background: transparent;

        svg {
          font-size: 25px;
          color: #6959cd;
        }
      }
      img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
      .name {
        margin-left: 15px;
        font-weight: 500;
        // color: #f !important;
      }
    }
  }
}
