#set-display {
  min-width: 350px;
  background: #fff !important;
  flex: 1;
  display: flex;
  background: #fff;
  border-right: 2px solid #f2f2f2;

  @media (max-width: 350px) {
    min-width: 250px;
  }

  .profile,
  .conversations {
    max-width: 350px;
  }

  @media (max-width: 1024px) {
    .profile,
    .conversations {
      max-width: 100%;
    }
  }
}
